



{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>学习笔记-收藏夹</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

  <style>
    body{
        padding-top: 17px;
}

  </style>

  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"data-toggle="collapse" data-target="#navbar"aria-expanded="false" aria-controls="navbar">
          </button>
            <a class="navbar-brand" href="{% url 'my_blog:index' %}">Learning Log/学习笔记</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'my_blog:topics' %}">Topics</a>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'my_blog:file_input' %}">文件上传⏫</a>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'my_blog:code_wall' %}">代码雨🌧️</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li>
              <a>Hello, {{ user.username }}.</a>
            </li>
            <li>
              <a href="{% url 'users:logout' %}">log out/注销</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'users:register' %}">register/注册</a>
            </li>
            <li>
              <a href="{% url 'users:login' %}">log in/登录</a>
            </li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
    </div> <!-- /container -->
  </body>
</html>






